.container {
  width: [width of the element];
  margin: 0 auto;
  text-align: center;
}

.container {
  /* width: 2000px; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

.gallery {
  width: 100px;
  border: 1px solid #ccc;
  overflow: hidden;
  display: inline-block;
  }


.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  /* height: auto; */
  height: 50px;
}

.desc {
  text-align: center;
}
