
.footer{
    text-align: center;
    background-color: rgb(49, 46, 46);
}


:root {
    --icon-color: rgb(83, 83, 83);
  }
  
.fa-brands{ 
    font-size: 300% !important;
    color: var(--icon-color);
}

.fa-regular{
    font-size: 300% !important;
    color: var(--icon-color);
}

.fa-solid{
    font-size: 300% !important;  
    color: var(--icon-color);
}
.icons{
    text-align: center;
    margin-bottom: 20px;
    color: var(--icon-color);
}

.copy{ 
    text-align: center;
    color: var(--icon-color);
}


.fa-solid.fa-angle-up.bottom-icon{
    color: var(--icon-color);
    font-size: 100%;
    margin-top: 20px;
    transition: color 0.4s ease-in-out;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.fa-solid.fa-angle-up.bottom-icon:hover{
    color: rgb(231, 228, 228);
}



a:hover, a:focus, a:active, a:visited, a:link{
    text-decoration: none;
}





.fa-brands.fa-github.bottom-icon{
    color: var(--icon-color);
    transition: color 0.4s ease-in-out;
}

.fa-brands.fa-github.bottom-icon:hover{
    color: rgb(231, 228, 228);
}

.fa-brands.fa-linkedin.bottom-icon{
    color: var(--icon-color);
    transition: color 0.4s ease-in-out;
}

.fa-brands.fa-linkedin.bottom-icon:hover{
    color: rgb(231, 228, 228);
}

.fa-regular.fa-envelope.bottom-icon{
    color: var(--icon-color);
    transition: color 0.4s ease-in-out;
}

.fa-regular.fa-envelope.bottom-icon:hover{
    color: rgb(231, 228, 228);
}