.project {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 200px;
  cursor: pointer;
}


.project::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center top;
  transition: filter 0.3s ease;
  z-index: 0;
}


.project:hover::before {
  filter: blur(8px);
  transform: scale(1.05); 
}


.projname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .projname {
  opacity: 1;
}


.tunerip::before{
  background-image: url('./images/HomeProj1.png');
}

.fliparena::before{
  background-image: url('./images/oldimages/lehax0rs/loggingin/welcome.png');
}


.devu::before{
  background-image: url('./images/oldimages/autograder3.png');
}


.syncify::before{
    background-image: url('./images/syncify/base.png');
}

.github{
  border-radius: 45px; 
  cursor: pointer;
  transition: all 0.25s ease;
}

.github:hover{
  background-color: #0c55db;
  transform: scale(1.15);
  box-shadow: 0 0 20px rgb(190, 191, 192);
}