
    <button id="scroll-to-top-button">Back to top</button>
    <script>
      const button = document.getElementById('scroll-to-top-button');
      button.addEventListener('click', event => {
        // window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      });
    </script>
  

<p class="text-center text-muted">&copy; Copyright 2023 Joey Poblete</p>