* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
  
    body {
        font-family: Arial, sans-serif;
    }
       



 
.new-header {
    background-color: #585555; 
        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    font-size: 22px;
}
   





#header-background {
    background-image: url('./images/devu2.png');
    background-position: 100% 0%;
    background-size: 60% 90%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-position-y: 20px;

}






.home-link{
    color: rgb(63, 158, 202);
    text-decoration:none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.about-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 158, 202);
    text-decoration:none;
    cursor: pointer;
    font-size: 20px;
}
.projects-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 158, 202);
    text-decoration:none;
    cursor: pointer;
    font-size: 20px;

}
.resume-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 158, 202);
    text-decoration:none;
    cursor: pointer;
    font-size: 20px;
}

.title-section {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    font-size: 50px;   
    margin-bottom: 400px;
}


.project-title {
    font-weight: bold;
  }
  

#title{
    font-size: 20px;
    margin-top: 50px;
    
}





























.devu {
    text-align: center;
  }



.title-font {
    font-size: 30px;
    margin-top: 50px;
    }


.devu dl dd {
    text-align: center;
    max-width: 1000px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
    
.autolab{
    margin-top: 100px;
    text-align: center; 
}


.autolab dl dd {
    text-align: center;
    max-width: 1000px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
    



















