
/* hide the after-image by default */
.after-image {
    display: none;
  }
  
  

/* center the button container */
.button-container {
    display: flex;
    justify-content: center;
  }
  
  .l4dautoconfig-div h {
    margin-top: 100px;
    text-align: center;
}


  /* center the image container */
  .image-container{
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button-container button {
    font-size: 20px;
    padding: 10px 20px;
}


.button-container p {
    text-align: center;
    font-size: 20px;
}
