* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;

}
       
 
    
.new-header {
    background-color: #585555; 
}
   
.new-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}



.new-header{ 
    text-align: center;
    font-size: 22px;
}


.home-link{
    color: rgb(63, 158, 202);
    text-decoration:none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.about-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 158, 202);
    text-decoration:none;
    cursor: pointer;
    font-size: 20px;
}
.projects-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 158, 202);
    text-decoration:none;
    cursor: pointer;
    font-size: 20px;

}
.resume-link{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 158, 202);
    text-decoration:none;
    cursor: pointer;
    font-size: 20px;
}

/* .title-section {
    top: 60px;
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    max-width: 500px;   
    text-align: center;
} */

.project-title {
    text-align: center;
}

.autograder{
    max-width: 500px;
}


.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: [height of the element];
    margin-top: 50px;
    font-size: 30px;  
}
  
.devu-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: [height of the element];
    /* margin-bottom: 400px; */
    margin-top: 100px;
  }
  
.devu {
   font-size: 50px;
   text-align: center;
  }


.hax0rs-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: [height of the element];
    margin-bottom: 400px;
    margin-top: 100px;
  }


.hax0rs {
    font-size: 50px;
    text-align: center;
}
















































