* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
  

    body{
        overflow-x: hidden;
        font-family: Arial, sans-serif;
    }

    
#header-background {
    background-image: url('./images/2.jpg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 99vw; */
}
    

    



.new-header{ /*home, about, project, resume*/
    text-align: center;
    font-size: 170% !important;
}


.home-link{
    color: rgb(165, 155, 155);
    text-decoration:none;
    margin-left: 10px;
    margin-right: 10px;
}

.about-link{
    margin-left: 10px;
    margin-right: 10px;
    color: blue;
    text-decoration:none;
    cursor: pointer;
}
.projects-link{
    margin-left: 10px;
    margin-right: 10px;
    color: blue;
    text-decoration:none;
    cursor: pointer;

}
.resume-link{
    margin-left: 10px;
    margin-right: 10px;
    color: blue;
    text-decoration:none;
    cursor: pointer;
}
  



.name h1{
    text-align: center;
    margin-top: 37vh;
    font-size: 810% !important;
    color: rgb(63, 158, 202);
    margin-bottom: 30px;
}



.highlight {
    color: rgb(171, 175, 236);
}

.non-highlight-text{
    font-size: 24px;
    color: rgb(208, 214, 208);
    font-weight: 500;
}



.description {
    max-width: 500px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 125%;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
}


.icons2{ /* for top of page icons*/
    text-align: center;
    font-size: 70%;
    margin-top: -40px;
    --main-color: rgb(63, 158, 202);
}


.fa-brands.fa-github.fa-icon {
    color: var(--main-color);
  }
  
.fa-brands.fa-linkedin.fa-icon{
    color: var(--main-color);
}  

.fa-regular.fa-envelope.fa-icon{
    color: var(--main-color); 
} /* end of top of page icons*/

      


.arrow-down{
    margin-top: 130px;
    text-align: center;
    font-size: 100%;
    margin-bottom: 400px;
}

.arrow-down a {
    cursor: pointer;
}

















.gray-section{
    background-color: rgb(85, 84, 84);
    width: 100vw;
    height: 500px;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  
.gray-section * {
    margin: 0 !important;
    padding: 0 !important;
    }
  
  


.aboutme-title {
    position: relative;
    top: 100px; 
    font-size: 50px;
    color: rgb(228, 217, 217);
    text-align: center;
    }
    

.aboutme-details{
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(252, 248, 248);
}













/* projects section */
.projects-section{
    position: relative;
    height: 2100px;
    /* background: linear-gradient(to bottom, #007991 0%, #78FFD6 100%); */
    background-color: rgb(255, 255, 255);
}

#projects-title{
    top: 100px; 
    position: relative;
    text-align: center;
    font-size: 50px;
    /* color: rgb(155, 61, 61); */
    color: rgb(8, 26, 6);
    display: block;
}


  
.projects-section img {
    max-width: 800px; 
    max-height: 700px;
}

.projects-section p{
    max-width: 800px; 
}


#autograder-div p {
    /* max-width: 500px;  */
    margin: 10px auto;
    text-align: center; 
    font-size: 20px;
    color: rgb(5, 15, 1);
}



#autograder-div {
    text-align: center;
    margin-top: 140px; 
}

#autograder-h {
    color: rgb(5, 5, 26); /* or any desired color value */
    font-size: 40px;
    display: block;
}
  





#discordbot-div {
    text-align: center;
    margin-top: 100px; 
}


#discordbot-h {
    color: rgb(3, 3, 17); /* or any desired color value */
    font-size: 40px;
    display: block;
}

.discordbot-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


#discordbot-div p {
    /* max-width: 500px;  */
    margin: 10px auto;
    text-align: center; 
    font-size: 20px;
    color: rgb(5, 15, 1);
}

/* hide the after-image by default */
.after-image {
    display: none;
  }
  
  

/* center the button container */
.button-container {
    display: flex;
    justify-content: center;
  }
  
  #l4dautoconfig-div h {
    margin-top: 100px;
    text-align: center;
}

#l4dautoconfig-h {
    margin-top: 100px; 
    color: rgb(24, 1, 1); /* or any desired color value */
    font-size: 40px;
    display: block;
}




  /* center the image container */
  .image-container{
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.button-container button {
    font-size: 20px;
    padding: 10px 20px;
}


.button-container p {
    text-align: center;
    font-size: 20px;
}

  
.l4dautoconfig-div {
    text-align: center;
}
  
.caption-text {
    margin-top: 10px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    color: rgb(5, 15, 1);
    /* max-width: 500px;  */
}
  



  































#scroll-to-top-btn {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--icon-color);
}
  
.footer{
    text-align: center;
    background-color: rgb(49, 46, 46);
}


:root {
    --icon-color: rgb(83, 83, 83);
  }
  
.fa-brands{ /* for footer icons */
    font-size: 300% !important;
    color: var(--icon-color);
}

.fa-regular{
    font-size: 300% !important;
    color: var(--icon-color);
}

.fa-solid{
    font-size: 300% !important;  
    color: var(--icon-color);
}
.icons{
    text-align: center;
    margin-bottom: 20px;
    color: var(--icon-color);
}

.copy{ 
    text-align: center;
    color: var(--icon-color);
}/* end of footer icons*/






