<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    .subhead::first-letter {
      font-size: 200%;
      color: #8A2BE2;
    }
    </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: '/text-content',
            success: function(data) {
                $("#text-file-content").html(data);
            }
        });
    });
</script>

</head>

<body class="container">
  <script src="/public/javascripts/button.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

<header>
  <%- include('../partials/header', {variant: 'compact'}); %>
  <link rel="stylesheet" type="text/css" href="styles.css">
</header>
<main>
<section>
<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 id="aboutme">About me</h1>
        <p class="subhead" id="text-file-content"></p>
  </div>
</div>
</section>

<section>  
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 id="projects">Projects</h1>
        
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 id="contact-info">Contact info</h1>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
        <p>dasdsadasd</p>
    </div>
  </div>  
</section>

</main>





<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>